<main>
  <p id="notice"></p>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-3">
        <h2>User info</h2>
        <% if @user.pofile_image_id.present? %>
          <img src=<%="#{@user.pofile_image_id}"%>>
        <% else %>  
           <img alt="noimageの画像"src="">
        <% end %>
        <table class="table">
            <tbody>
              <tr></tr>
              <tr>
            	  <th>name</th>
            	  <th><%=@user.name %></th>
              </tr>
              <tr>
            	  <th>introduction</th>
            	  <th><%=@user.introduction%></th>
              </tr>
            </tbody>
        </table>
　
        <div class="row">
          <a class="btn btn-outline-secondary btn-block" href=<%="/users/#{current_user.id}/edit"%>>
            <i class="svg-inline--fa fa-user-gear"></i>
          </a>
          <!--s 投稿機能  -->
          <h2 class="mt-3">New book</h2>
          <
          <!--e 投稿機能  -->
        </div>
       </div> 
    </div> 
  </div>
</main>
